.primary {
  composes: button from "./global.css";
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.primary:hover {
  background-color: #0563c9;
}

.success {
  composes: button from "./global.css";
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.success:hover {
  background-color: #188d34;
}

.danger {
  composes: button from "./global.css";
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  position: relative;
}

.danger:hover {
  background-color: #c5182a;
}
